h1 {
    text-align: center;
    margin: 0;
}
address {
    font-size: 21px;
    text-align: center;
}
h4 {
    text-align: center;
}
.bold-text{
    font-weight: bold;
}
.i-text{
    font-style: italic;
}
.und{
    text-decoration: underline;
}
.img-float {
    float: left;
}

.clear-text {
    clear: both;
}
.align-right {
    text-align: right;
}
.center-img {
    text-align: center;
}
p {
    margin: 15px 0;
}
ul,li {
    list-style-type: disc;
    margin-left: 30px;
}
ul {
    margin: 10px;
}
ol>li {
    list-style-type: decimal;
    margin-left: 40px;
}